@use "./variables" as v;
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
    font-family: v.$text-global;

    &.overflow-hidden {
        overflow: hidden;
    }
}
h1,h2,h3{
    font-family: v.$titulos;
    font-weight: bold;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 34px;
}
h3{
    font-size: 24px;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
}