//Tipografia
$text-global:'Roboto', sans-serif;
$titulos:'Lato', sans-serif;

//Medidas
$telefono:480px;
$tablet:992px;
$laptop:1280px;
$desktop:1440px;


//Colores
$blanco:#fff;
$negro:#000;
$verde-borde:#146d0f  ;
$verde-color:#084819;
$borde: #e5dede;
$gris:#d9d2d256;
$verde:#1D6909;